<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting winner</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'deleteConfirmation.css' %}">
<body>
    <div class="container">
        <div class="confirmation-box">
                {% if max_votes_candidate %}
                    <h1>Voting Winner : {{ max_votes_candidate.fullname }}</h2>
                    <!-- <p>Email: {{ max_votes_candidate.email }}</p>
                    <p>Phone: {{ max_votes_candidate.phone }}</p>
                    <p>Bio: {{ max_votes_candidate.bio }}</p> -->
                    <!-- You can display other candidate information here -->
                {% else %}
                <p>No candidates available</p>
                {% endif %}    
        </div>
    </div>
</body>
</html>
